<div class="card-header" style="padding-top:0px;">    
    <small>Veja abaixo o relatório final e o detalhe passo-a-passo</small>    
</div>
<div class="card-body card-padding">
    
    <div class="panel-group">
    
    <div class="panel panel-collapse">
          <div class="panel-heading active" >              
              <h4 class="panel-title">                  
                  <a href="#">
                      <i class="material-icons" style="position: absolute;left: 0px;top: 3px;">swap_vert</i>
                      Relatório passo-a-passo
                  </a>
              </h4>
          </div>
          <div >
              <div class="panel-body" id="ResultadoTabela">
                  
              </div>
          </div>
      </div>      
    </div>    
    
    <ul class="fw-footer pagination wizard" style="border-top: none;">
      <li class="previous" ui-sref="incluirDados"><a class="a-prevent" href=""><i class="material-icons" style="font-size:40px;">navigate_before</i></a></li>
      <li class="next disabled"><a class="a-prevent" href=""><i class="material-icons" style="font-size:40px;">navigate_next</i></a></li>    
    </ul>
</div>